<h3>Enter your new recipe:</h3>

<form action="/recipes" method="post">
	<input type="text" name="recipe" id="recipe" placeholder="Enter your recipe name">
	<input type="memo" name="instructions" id="instructions" placeholder="Enter the recipe's instructions here">
	<button class="btn btn-default">Submit</button>
</form>