<h3><%= @recipe.name %></h3>
<p><%= @recipe.rating %>

<p class="lead">Instructions:</p>

<p><%= @recipe.instructions %></p>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
	<input name="_method" type="hidden" value="delete">
	<button class="btn btn-default btn-danger">Delete</button>
</form>